.web-notification {
  margin-bottom: 0.75rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1rem;
  background-color: var(--color-very-light-grayish-blue);
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.web-notification__avatar {
  margin-right: 0.75rem;
  flex: none;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 9999px;
  object-fit: cover;
  object-position: center;
}

.web-notification__content {
  flex: 1;
}

.web-notification__username {
  font-size: 0.875rem;
  font-weight: 800;
  color: var(--color-very-dark-blue);
}

.web-notification__created-at {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--color-grayish-blue);
}